@import "tailwindcss";

@theme {
  --font-serif: var(--font-serif);
  --font-sans: var(--font-sans);
  --color-luxury-black: #050505;
  --color-luxury-gray: #121212;
}

:root {
  --background: #050505;
  --foreground: #ffffff;
}

html {
  scroll-behavior: smooth;
  background-color: var(--background);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}