@import "tailwindcss";

@theme {
  --font-serif: var(--font-serif);
  --font-sans: var(--font-sans);
  --color-luxury-black: #121212; 
  --color-luxury-gray: #1F1F1F;
}

:root {
  --background: #121212;
  --foreground: #ffffff;
}

html, body {
  /* FIX: Prevents side-to-side wiggling on phones */
  overflow-x: hidden; 
  scroll-behavior: smooth;
  background-color: var(--background);
}

body {
  color: var(--foreground);
  font-family: var(--font-sans);
}

/* FIX: Hides scrollbar in the gallery but allows scrolling */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}